* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', Verdana, Arial,
    Helvetica, sans-serif;
  color: black;
  max-width: 700px;
  margin: auto;
}

article details {
  margin: 0.75rem;
}

main {
  margin: 0.5rem;
}

h1 {
  font-size: 1.6rem;
  margin-left: 0.5rem;
}

a {
  color: black;
  text-decoration: none;
  background: #c6fcff;
}

.floorContainer {
  float: left;
  margin: 10px;
}

.floor table {
  height: 100%;
  width: 100%;
}

.bank {
  height: 200px;
  width: 200px;
}

.bank td {
  width: 4%;
  height: 4%;
}

.bank td.tile {
  width: 22%;
  height: 22%;
}

.knox {
  height: 242px;
  width: 242px;
}

.knox td {
  width: 2%;
  height: 2%;
}

.knox td.tile {
  width: 18%;
  height: 18%;
}

.harka {
  width: 240px;
  height: 240px;
}

.harka td {
  width: 0;
  height: 0;
}

.harka td.tile {
  /* width: 14%;
  height: 14%; */
  /* The above was working well except Firefox and Safari. */
  width: 27px;
  height: 27px;
}

.harka.floor td.wall {
  border: none;
}

.floor td.shaft {
  background: transparent;
}

.floor td.tile {
  background: #c6fcff;
  border-radius: 5px;
}

.floor td.wall {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
}

button,
select {
  border-radius: 5px;
  border: 2px solid black;
  background: transparent;
  padding: 0.5em 1em;
  margin: 0.5em;
}

.hidden {
  display: none;
}

#job,
#generate-all-floors,
#show_heatmap,
#hide_heatmap,
.bottom-wrapper,
footer,
#burgle_href {
  margin-left: 0.7rem;
}

#language-picker {
  margin-left: 0;
}

summary {
  cursor: pointer;
}

div details {
  display: inline-block;
}

div summary {
  display: inline-block;
  transform: scale(1.5);
}

div details summary::-webkit-details-marker {
  display: none;
}

div details span {
  background: -webkit-linear-gradient(45deg, red, orange, green, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  border-top: 2px solid black;
  padding-top: 1rem;
  max-width: 500px;
}

#copied {
  display: none;
}

img {
  width: 500px;
  max-width: 100%;
}
figure {
  margin: auto;
}
